
body{
    display: flex;
    text-align: center;
    width: 80%;
    justify-content: center;
    background-color: 	#d6f6b3;
    color: #366c6c;
}

form { 
    border: 3px solid #42a680;
    background-color: 	#a8e999;
} 
    
input[type=text]{ 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
}  
    
button { 
    background-color: #457d7e; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
}
    
.container { 
    padding: 16px; 
}

img{
    width: 500px;
    height: 500px;
    display: flex;
}